@custom-media --medium-viewport (width >= 768px);
@custom-media --large-viewport (width >= 1200px);
@custom-selector :--main-pages .index, .getting-started, .guides, .docs, .the404;

@keyframes fade-out {
   0% {
      opacity: 1;
   }

   100% {
      opacity: 0;
      display: none;
   }
}

* {
   box-sizing: border-box;
}

:root {
   height: 100%;
   font-size: 16px;
   overflow-y: scroll;
   --navbar-height: 4rem;
   --main-color: #ff3f00;
   --secondary-color: #ffca5e;
   --text-color: #986046;
}

body {
   display: flex;
   min-height: 100%;
   background-color: #FFFBF7;
   color: var(--text-color);
   font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
   font-feature-settings: 'kern', 'liga', 'pnum';
   font-size: 1rem;
   line-height: 1.5rem;

   & .ether-deactivated,
   & .ether-prerendering:not(.ether-rendered),
   & .ether-prerendered:not(.ether-rendered) {
      display: none;
   }
}

h1, h2, h3, h4, h5, h6 {
   color: #7e3e07;
}

.main-app {
   display: flex;
   flex-direction: column;
   flex: 100%;
}

.container {
   margin: 0 auto;
   width: 100%;

   @media (--large-viewport) {
      width: 1170px;
   }
}

:--main-pages {
   flex: 100%;
}

:--main-pages .container {
   margin-bottom: 2rem;
}

/* navbar */

.navbar {
   display: flex;
   align-items: center;
   flex: 0 0 auto;
   height: var(--navbar-height);
   background-color: white;
   box-shadow: 0 2px 4px gray(0,.2);
}

.navbar-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.navbar-logo {
   color: var(--main-color);
   font-family: 'euphoria_scriptregular';
   font-size: calc(var(--navbar-height) - 1rem);
   font-weight: bold;
   text-decoration: none;
   &:focus { outline: none; }
}

.navbar-list {
   margin: 0;
   padding: 0;
   list-style: none;
}

.navbar-list li {
   width: 100%;
   margin-right: 10px;
   color: color(var(--main-color) blackness(+10%));
   border-radius: 5px;
   transition: background-color 0.2s ease-out;

   &:last-child {
      margin-right: 0;
   }

   &:hover {
      background: gray(235);
   }

   &.active {
      background: var(--main-color);
      color: white;
   }

   & a {
      display: block;
      padding: 10px 15px;
      color: inherit;
      font-size: calc(var(--navbar-height) - 2.8rem);
      text-decoration: none;
   }

   @media (--medium-viewport) {
      float: left;
      width: auto;
   }
}

.main-footer {
   flex: 0 0 auto;
   padding: 2rem 0;
   background: #2a2730;
   color: #99979c;

   & a {
      color: white;
      text-decoration: none;
   }

   & a:hover {
      text-decoration: underline;
   }
}

.main-footer p {
   margin: 0;
   padding-bottom: 5px;
}

/*********
 * pages *
 *********/

/* index */

.intro {
   padding: 5rem 0;
   background: var(--main-color) radial-gradient(circle, var(--main-color) 0%, var(--secondary-color) 100%);
   color: white;
}

.lead {
   text-align: center;
}

.tagline {
   font-size: 3rem;
   line-height: normal;
   text-shadow: 0 1px 0 gray(0,.1);
}

.btn {
   display: inline-block;
   padding: 20px 40px;
   border: 1px solid white;
   background-color: transparent;
   color: white;
   text-decoration: none;
   font-size: 1.6rem;
   border-radius: 5px;
   box-shadow: 0 7px 10px gray(0,.2);
   transition-property: visibility, opacity, background-color, color, border, text-shadow, box-shadow;
   transition-duration: 0.5s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s, 0.2s;
   transition-timing-function: ease-in, ease-in, linear, linear, linear, linear, linear;
}

.btn-inverted,
.btn:hover {
   background-color: white;
   color: var(--main-color);
   border: 1px solid var(--main-color);
   text-shadow: 0 -1px 1px var(--secondary-color);
   box-shadow: 0 3px 5px gray(0,.4);
}

.download-links {
   position: relative;

   & .download-btn-option {
      margin-right: 5px;
      &:last-child { margin-right: 0; }
   }

   & .download-btn-start {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
   }

   & .download-btn-start {
      visibility: visible;
      opacity: 1;
   }
   & .download-btn-option {
      visibility: hidden;
      opacity: 0;
   }

   &.active {
      & .download-btn-start {
         visibility: hidden;
         opacity: 0;
      }
      & .download-btn-option {
         visibility: visible;
         opacity: 1;
      }
   }
}

.features {
   padding-top: 1rem;

   & h1 {
      margin-bottom: 5px;
      font-size: 2rem;
      color: #3D3D3D;
      text-align: center;
   }

   & blockquote {
      margin: 5px 0 10px;
      padding-bottom: 30px;
      border-bottom: 1px solid #DDD;
      color: #555;
      font-size: 1.3em;
      font-style: italic;
      text-align: center;

      & .attribution {
         text-align: right;
      }
   }

}

.feature-list {
   display: flex;
   justify-content: center;
   margin: 1rem 0 1rem;
}

.feature {
   display: flex;
   width: 45%;

   & .feature-icon {
      width: 20%;
      color: gray(110);
      font-size: 3rem;
      text-align: center;
   }

   & .feature-description {
      width: 75%;
      color: #777;
      font-size: 1.2rem;
   }

   & .feature-title {
      margin-top: 0;
      color: #444;
      font-size: 1.4rem;
   }
}

.github-cta {
   margin-top: 1.8rem;
   text-align: center;

   & p {
      margin-bottom: 0.8rem;
      color: #555;
      font-size: 1.7rem;
   }

   & .github-btn {
      padding: 0.7rem 1.5rem;
      box-shadow: none;
   }
}

/* getting started */

.getting-started {
   margin: 0 auto;
   padding-top: 1.5rem;

   & .tutorial {
      margin-bottom: 2rem;
      padding: 0 10%;
   }

   & dl {
      position: relative;
   }
   & dl::before {
      position: absolute;
      top: 50%;
      right: 105%;
      height: 250px;
      font-size: 200px;
      line-height: 1.1;
      content: '{';
      color: gray(200);
      transform: translateY(-50%);
   }
   & dt {
      font-size: 1.1rem;
   }
   & dt::after {
      display: block;
      width: 50%;
      height: 3px;
      background: linear-gradient(90deg, var(--main-color), white 40%);
      content: '';
   }
   & dd {
      padding: 3px 0 5px;
   }

   & p > code {
      display: inline-block;
      background: color(yellow alpha(0.3));
      border-radius: 3px;
   }
   & pre code {
      transition: opacity 0.2s ease-out;
      opacity: 0;
   }
   &.highlighted pre code {
      opacity: 1;
   }

   & aside {
      color: color(var(--text-color) lightness(-10%));
   }
   & aside, & pre code {
      padding: 10px 20px;
      background: gray(250);
      box-shadow: inset 0 0 15px gray(128, 0.4);
      border-radius: 8px;

      &.right-side {
         float: right;
         width: 30%;
         margin-left: 10px;
      }

      & h4 { margin: 10px 0; }
   }
}

#app-iframe {
   border: none;
   width: 100%;
   height: 220px;
}

/* guides */
/* docs */

.guides,
.docs {
   display: flex;
}

.getting-started,
.guides-nav,
.guides-article,
.docs-nav,
.docs-article {
   padding-top: 1.5rem;
   width: 75%;
}

.guides nav,
.docs nav {
   margin-right: 2em;
   border-right: 1px solid #FFCEAB;
   width: 25%;

   & ul {
      padding: 0;
      list-style: none;
   }
   & li {
      transition: border 0.1s linear;
   }
   & li.active {
      border-left: 5px solid color(var(--main-color) lightness(+10%));
      background: color(var(--main-color) lightness(+40%));
      font-weight: bold;
   }
   & a {
      display: block;
      padding: 5px;
      text-decoration: none;
      color: inherit;
      &:hover {
         color: color(var(--text-color) lightness(+10%) saturation(+10%));
         background: color(var(--main-color) alpha(0.05));
      }
      &:focus { outline: none; }
   }
}

/* docs */

.docs-article {
   & h2 {
      margin-top: 3rem;
   }
   & h3 {
      margin-top: 2rem;
   }
   & h4 {
      margin: 0;
   }
   & code {
      color: black;
   }
}

/* 404 */

.the404 h1 {
   text-align: center;
   margin-top: 2em;
}
