<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="/static/styles/app.css" />
        <title>My Twitter App</title>
    </head>
    <body>
        <div id="twitter"></div>
        <script src="/static/vendor/scripts/ether.global.js"></script>
        <script src="/static/scripts/app.js"></script>
        <script>
            function isInsideIframe() {
                try {
                    return window.self !== window.top;
                } catch (e) {
                    return true;
                }
            }
            function updatePathbar(event, promise) {
                var self = this;
                promise.then(function() {
                    self.sendTo('pathbar', self.fullUrl);
                });
            }
            var iframe = isInsideIframe();
            var myApp = new TwitterRootApp({
                windowLoad: updatePathbar,
                history: iframe ? false : updatePathbar,
                interceptLinks: function all(event, promise) {
                    updatePathbar.call(this, event, promise);
                },
                basePath: '/app',
                outlets: {
                    twitter: new Ether.MutableOutlet(document.getElementById('twitter')),
                },
            }).start();
        </script>
    </body>
</html>
